@tailwind base;
@tailwind components;
@tailwind utilities;

.heart-icon{
    height:100px;
    width:100px;
    background: url("assests/heart.png");
    background-position: left;
    cursor: pointer;
    position: absolute;
}

.heart-bg{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .likes-amount{
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: #000000;
    font-weight: 400;
    
    margin-top: 20px;
    margin-left:0px;
} */

.likecss{
    height: 8vh;
    display: flex;
    align-items: start;
    justify-content: start;
}

.heart-bg:hover{
    background: rgba(255, 192, 200, 0.7);
}

.heart-icon.liked {
    animation: like-anim 0.7s steps(28) forwards;
  }
  
  @keyframes like-anim {
    to {
      background-position: right;
    }
  }
  
  .likes-amount.liked {
    color: red;
  }